# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the Go compiler
*.o
*.a
*.h
*.log

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# Python virtual environment
venv/
venv-load-test/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Node modules
node_modules/

# Logs
*.log

# Docker
docker-compose.override.yml

# PyCharm project files
.idea/

# Visual Studio Code project files
.vscode/